@import 'variables';

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: @base-font-size;
}

.head-portrait {
  width: 100px;
  top: 0;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 50px);
}

body {
  font-family: @font-family;
  font-size: 1em;
  background-color: @gray;
  color: @text-color;
}

.hello,
.name-age-info,
.main {
  background-color: #fff;
  margin-left: 200px;
  margin-right: 200px;
}

hr {
  margin: 0;
}
.hello {
  top: 50px;
  padding-top: 60px;
  margin-top: 50px;
}
.name-age-info,
.hello {
  padding-bottom: 30px;
  text-align: center;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
  color: #ec7263;
  margin-top: 0;
  padding: 20px 0;
  text-align: left;
}

.year {
  font-size: 12px;
  width: 150px;
  vertical-align: text-top;
}

td {
  height: 40px;
}

.child-description,
.title {
  background-color: #ededed;
  right: 0;
}

.person-message {
  padding: 50px 40px;
}
